In [116]:
# 6.5.2 Create Heatmaps for Weather Parameters

In [117]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [118]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Matara,LK,6/6/2021 11:42,5.9485,80.5353,82.31,80,84,12.30
1,1,Airai,TL,6/6/2021 11:42,-8.9266,125.4092,58.37,91,88,2.35
2,2,Kitimat,CA,6/6/2021 11:45,54.0524,-128.6534,46.90,97,100,2.10
3,3,Neiafu,TO,6/6/2021 11:46,-18.6500,-173.9833,76.93,66,5,11.63
4,4,Srandakan,ID,6/6/2021 11:45,-7.9386,110.2506,63.73,84,38,5.03

In [119]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [120]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [121]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [122]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [123]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [124]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [125]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Get the maximum temperature.
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [126]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [127]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [128]:
# Heatmap of Wind Speed

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [129]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [130]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Matara,LK,6/6/2021 11:42,5.9485,80.5353,82.31,80,84,12.30
3,3,Neiafu,TO,6/6/2021 11:46,-18.6500,-173.9833,76.93,66,5,11.63
5,5,Bang Saphan,TH,6/6/2021 11:46,11.2126,99.5117,84.15,74,100,8.41
6,6,Kulhudhuffushi,MV,6/6/2021 11:46,6.6221,73.0700,82.15,78,98,14.16
9,9,Rikitea,PF,6/6/2021 11:42,-23.1203,-134.9692,76.23,82,100,16.87
12,12,Kapaa,US,6/6/2021 11:42,22.0752,-159.3190,75.52,81,20,11.88
17,17,Mahebourg,MU,6/6/2021 11:42,-20.4081,57.7000,79.25,73,75,10.36
18,18,Biak,ID,6/6/2021 11:44,-0.9131,122.8766,77.32,79,53,5.88
23,23,Cape Town,ZA,6/6/2021 11:37,-33.9258,18.4232,80.28,20,0,15.03
27,27,Sola,VU,6/6/2021 11:44,-13.8833,167.5500,79.86,76,69,13.20

In [131]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [132]:
preferred_cities_df.notnull().sum()

City_ID       197
City          197
Country       196
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [133]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Matara,LK,6/6/2021 11:42,5.9485,80.5353,82.31,80,84,12.30
3,3,Neiafu,TO,6/6/2021 11:46,-18.6500,-173.9833,76.93,66,5,11.63
5,5,Bang Saphan,TH,6/6/2021 11:46,11.2126,99.5117,84.15,74,100,8.41
6,6,Kulhudhuffushi,MV,6/6/2021 11:46,6.6221,73.0700,82.15,78,98,14.16
9,9,Rikitea,PF,6/6/2021 11:42,-23.1203,-134.9692,76.23,82,100,16.87
...,...,...,...,...,...,...,...,...,...,...
536,536,Babu,CN,6/6/2021 11:48,24.4167,111.5167,76.39,71,0,1.92
537,537,Japura,ID,6/6/2021 11:48,-0.3167,102.3500,82.63,67,80,2.73
540,540,Ahuimanu,US,6/6/2021 11:48,21.4447,-157.8378,76.75,70,75,15.52
543,543,Sampit,ID,6/6/2021 11:48,-2.5333,112.9500,79.75,80,93,3.53
547,547,Banda Aceh,ID,6/6/2021 11:44,5.5577,95.3222,81.73,78,95,14.58

In [134]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [135]:
# 6.5.4 Map Vacation Criteria

In [136]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Matara      LK     82.31   5.9485   80.5353
3           Neiafu      TO     76.93 -18.6500 -173.9833
5      Bang Saphan      TH     84.15  11.2126   99.5117
6   Kulhudhuffushi      MV     82.15   6.6221   73.0700
9          Rikitea      PF     76.23 -23.1203 -134.9692
12           Kapaa      US     75.52  22.0752 -159.3190
17       Mahebourg      MU     79.25 -20.4081   57.7000
18            Biak      ID     77.32  -0.9131  122.8766
23       Cape Town      ZA     80.28 -33.9258   18.4232
27            Sola      VU     79.86 -13.8833  167.5500

In [137]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [138]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel not found... skipping.
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!
Hotel Found Yahoo!!

In [139]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Matara,LK,82.31,5.9485,80.5353,Amaloh Boutique Resort
3,Neiafu,TO,76.93,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
5,Bang Saphan,TH,84.15,11.2126,99.5117,Ladawan Boutique Hotel
6,Kulhudhuffushi,MV,82.15,6.6221,73.0700,Haajy Guest House 1
9,Rikitea,PF,76.23,-23.1203,-134.9692,Pension Maro'i
12,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Mahebourg,MU,79.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
18,Biak,ID,77.32,-0.9131,122.8766,Penginapan Kim
23,Cape Town,ZA,80.28,-33.9258,18.4232,Southern Sun Waterfront Cape Town
27,Sola,VU,79.86,-13.8833,167.5500,Leumerus Bungalows

In [140]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [141]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [142]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [143]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [144]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))