## Deliverable 3. Create a Travel Itinerary Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [22]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kavaratti,IN,82.85,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
1,7,Kapaa,US,80.58,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,9,Atuona,PF,79.70,broken clouds,-9.8000,-139.0333,Villa Enata
3,16,Mahibadhoo,MV,83.03,overcast clouds,3.7833,72.9667,Omadhoo Inn
4,22,Rikitea,PF,76.71,overcast clouds,-23.1203,-134.9692,Pension Maro'i

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [19]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = vacation_info)

fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Marshalltown"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Marshalltown"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Douglas"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Toccoa"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Huntington"]

In [52]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()

start_latlon_pairs = (start[0][5],start[0][6])
end_latlon_pairs = (end[0][5],end[0][6])
stop1_latlon_pairs = (stop1[0][5],stop1[0][6])
stop2_latlon_pairs = (stop2[0][5],stop2[0][6])
stop3_latlon_pairs = (stop3[0][5],stop3[0][6])

In [53]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
four_cities_circle = gmaps.directions_layer(
        start_latlon_pairs, end_latlon_pairs, waypoints=[stop1_latlon_pairs,stop2_latlon_pairs,stop3_latlon_pairs],
        travel_mode="WALKING")
fig.add_layer(four_cities_circle)
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,156,Marshalltown,US,86.23,clear sky,42.0494,-92.9080,Best Western Regency Inn
1,496,Douglas,US,85.24,broken clouds,41.3000,-96.1670,Hilton Garden Inn Omaha West
2,438,Toccoa,US,87.04,scattered clouds,34.5773,-83.3324,Quality Inn
3,408,Huntington,US,88.21,clear sky,38.4193,-82.4452,Ramada Limited Huntington

In [60]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [63]:
# 11a. Add a marker layer for each city to the map.

locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure()

marker_layer2 = gmaps.marker_layer(locations, info_box_content = itinerary_info)

fig.add_layer(marker_layer2)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))